* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #FCA311;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    font-size: 30px;
    color: #1c3365;
}
#box {
    width: 600px;
    background-color: #E5E5E5;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.2);
}

#box .item {
    margin: 3px 3px 3px 20px;
    height: 40px;
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
}

#box .item label {
    font-size: 20px;
}
#box .item input {
    width: 18px;
    height: 18px;
}
#btns{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btnn {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    padding: 10px 20px;
    /* width: 100%; */
    background-color: #1c3365;
    border: none;
    border-radius: 10px;
}

.btnn:hover {
    background-color: #FCA311;
    color: #1c3365;
    transition: 0.5s;
}

.btnn.submit {
    width: 100%;
}

.correct {
    background-color: lightgreen;
}

.incorrect {
    background-color: lightpink;
}