@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #E5E5E5;
    min-height: 100vh;
}

body,
.head,
.container .body ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    width: 450px;
    overflow: hidden;
}

/* styling of header */
.container .head {
    background-color: #000;
    color: #FCA311;
    justify-content: space-between;
    width: 100%;
    padding: 15px 30px;
    border-bottom: 3px solid #FCA311;
    font-size: 30px;
}

.container .head .heading {
    font-size: 30px;
    font-weight: 600;
}

.container .head .icons i:hover {
    color: #E5E5E5;
}

/* styling of body */

.body ul {
    list-style-type: none;
    flex-wrap: wrap;
    padding: 0 20px;
}

.body ul li {
    width: calc(100%/7);
    text-align: center;
    margin: 15px 0;
}

.body .weekdays {
    color: #000;
    font-size: 18px;
    font-weight: 700;
}

.body .dates {
    margin-bottom: 20px;
}

.body .dates li {
    color: #14213D;
    font-size: 18px;
    position: relative;
    z-index: 1;
}
.body .dates li:hover {
    color: #fff;
    font-weight: 600;
}

.body .dates li:before{
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    padding: 4px;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.body .dates li:hover::before{
    background-color: #14213D;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}

.body .dates li.inactive {
    color: #ccc;
}

.body .dates li.active::before {
    background-color: #FCA311;
}