.container {
    background-color: #fff;
    border-radius: 15px;
    margin: 1rem;
    padding: 2rem 3rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    width: 75vw;
    transition: 0.5s;

}

.container2 {
    background-color: #fff;
    border-radius: 15px;
    margin: 1rem;
    padding: 2rem 3rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    width: 75vw;
    transition: 0.5s;

}

.container.darkMode,
.container2.darkMode {
    background-color: #221E22;
    color: #fff;
}

.space-between {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section {
    margin: 1.2rem 0;
}

button {
    display: block;
    margin: 0 auto;
    border: 1px solid #758BFD;
    background-color: #758BFD;
    color: #fff;
    padding: 0.5rem 10rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    transition: 0.5s;

}

button:hover {
    background-color: #fff;
    color: #758BFD;
    transition: 0.4s;
}

button.darkMode {
    background-color: #38215a;
    color: #fff;
    border: 1px solid #ffffff;


}

button.darkMode:hover {
    background-color: #000;
    color: white;

}

select {
    box-sizing: border-box;
    padding: .3em 1em;
    border-radius: 0.3em;
    border: 1px solid #666;
    font-size: 1.2rem;
    transition: 0.5s;

}

select.darkMode {
    color: #fff;
    background-color: #31263E;
    border: 1px solid #FFF;

}


@media print {
    .container {
        width: 100vw;
        margin: 1rem;
        padding: 0;
        border-radius: none;
        box-shadow: none;
    }

    .container2 {
        display: none;
    }

    .section {
        margin: 0.5rem 0;
    }

    button {
        display: none;
    }
}