@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --primary: #758BFD;
    --secondary: #FF8600;
    --box-bg: #fff;
    --shadow: rgba(0, 0, 0, 0.1);
    --box-bg2: #666;
    --primary-dark: #d06f01;
    --secondary-dark: #d06f01;
    --box-bg-dark: #221E22;
    --shadow-dark: rgba(0, 0, 0, 0.1);
    --box-bg2-dark: #666;
    --btn-dark: #38215a;
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: #F1F2F6;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    color: #504f4f;
    transition: 0.5s;

}

body:has(> #root .darkMode) {
    background-color: #403255;
}

@media print {
    body {
        background-color: #fff;
    }
}