p {
    font-size: 1.2rem;
    padding: 0.3em;
    color: #504f4f;
}

.mark {
    color: #758BFD;
    font-weight: 800;
}

.heading {
    font-size: 1.3rem;
    font-weight: 600;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}