ul {
    padding: 0 0.5rem;
    margin: 0 0 1rem 1rem;
    font: inherit;
    list-style-type: none;
}

ul li::before {
    content: '✓';
    font-weight: 700;
    font-size: 1.2rem;
    margin-right: 0.8rem;
    color: #FF8600;
}

li {
    font-weight: 500;
    font-size: 1.1rem;
    position: relative;
    margin: 0.4rem 0;
}

li .buttons {
    position: absolute;
    right: 0;
    margin: 0.4em 0.4em;


}

li .buttons span {
    font-weight: 600;
    padding: 0.1em 0.5em;
    margin: 0.4em 0em;

}

li .buttons .del {
    border-radius: 0.3em 0em 0em 0.3em;

}

li .buttons .edit {
    border-radius: 0em 0.3em 0.3em 0em;

}

@media print {
    ul {
        margin: 0 0 0.3rem 1rem;
    }
}