table {
    border: 1px solid #ccc;
    border-radius: 0.5em;
    overflow: hidden;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    font-size: 1.1rem;
    margin-bottom: 1em;
}

thead,
tbody,
td,
th,
tr {
    border: 1px solid #ccc;
}

thead {
    background-color: #758BFD;
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
    transition: 0.5s;

}

thead.darkMode {
    background-color: #44355B;
}

tbody tr:nth-child(even) {
    background-color: #F1F2F6;
    transition: 0.5s;

}

tbody.darkMode tr:nth-child(even) {
    background-color: #777;
}


tbody tr:nth-child(odd) {
    background-color: #fff;
    transition: 0.5s;

}

tbody.darkMode tr:nth-child(odd) {
    background-color: #555;
}

td,
th {
    padding: 0.3rem 1rem;
    width: fit-content;
}

@media print {
    table {
        margin-bottom: 0.4rem;
        margin-bottom: 0.4em;
    }

    td,
    th {
        padding: 0.1rem 0.4rem;
        width: fit-content;
    }
}