/* Font poppins import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #eee;
    height: 100vh;
}

/* Flex Properties */
body,
.container,
.screen
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    flex-direction: column;
    background-color: #fff;
    width: 400px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}
.screen {
    background-color: cornflowerblue;
    width: 100%;
    justify-content: space-evenly;
}
.screen input{
    width: 80px;
    height: 50px;
    border: none;
    outline: none;
    font-size: 38px;
    font-weight: 500;
    border-radius: 5px;
    text-align: center;
    margin: 20px 5px;
}

.buttons button {
    font-weight: 800;
    color: #fff;
    background-color: cornflowerblue;
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
    margin: 15px 15px;
}
.buttons button.reset:hover {
    background-color: green;
    color: white;
    transition: 0.3s;
}
.buttons button.start:hover {
    background-color: blueviolet;
    color: white;
    transition: 0.3s;
}
.buttons button.stop:hover {
    background-color: red;
    color: white
    transition: 0.3s;
}