body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    background-color: blueviolet;
    text-align: center;
    color: white;
    padding: 10px;
    margin: 0 0 16px 0;
}
section {

}
nav {
    border: solid 0;
    background-color: #d5a8ff;
    line-height: 40px;
    width: 15%;
    height: 350px;
    float: left;
}
ul {
    padding: 0;
    margin: 30px 0;
}


ul li {
    list-style-type: none;
    background-color: blueviolet;
    border: solid 0;
    margin: 15px 0;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    border-radius: 100px 0 0 0;
}

main {
    background-color: #f9f9f9;
    width: 82%;
    float: left;
    padding: 10px;
    margin: 0 0 0 16px;
}
section::after {
    content: "";
    display: table;
    clear: both;
  }

  footer {
    background-color: blueviolet;
    padding: 10px;
    text-align: center;
    color: white;
    margin-top: 16px;
  }
