* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

.main-container {
    border: solid 1px white;
    margin: 25px auto;
    max-width: 800px;
}

.form-heading {
    text-align: center;
    font-size: 30px;
}

.form-heading h1 {
    padding: 20px 0;
}

.form-heading hr {
    margin: 0 25px;
}



.form {
    margin: 25px;
}

.main-input {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
}

.input-heading {
    font-size: 25px;
    margin-bottom: 5px;
}

.input-fields {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.small-input {
    border-radius: 10px;
    font-size: 25px;
    padding: 5px;
}

.help-text {
    padding: 5px 0 0 0;
    font-size: 12px;

}

.input-address {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.large-input {
    width: 200%;
}