/* Font poppins import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #eee;
}
/* flex properties */
body
{
display: flex;
align-items: center;
justify-content: center;
}

.container table{
 width: 800px;
}