@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

@keyframes floatup {
    from {
        transform: translateY(14px);
        opacity: .0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


body {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    background-color: #e4e3e3;
}

/* flex properties */
.container header,
.chat_input,
.chat_body .incoming,
.chat_body .outgoing,
.toggler {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: 1px solid #f15bb57b;
    width: 23rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: fixed;
    right: 3rem;
    bottom: 4rem;
    height: 29rem;
    transform: scale(0);
    transform-origin: bottom right;
    transition: ease 0.4s;
    pointer-events: none;
    z-index: -1;
}

body.chat_active .container {
    transform: scale(1);
    pointer-events: auto;
    z-index: 0;
}

/* chat header */
.container header {
    background-color: #f15bb5;
    color: #fff;
    position: relative;
}

.container header .chat_heading {
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
    font-size: 1.8rem;
    padding: 0.2rem;
}

.container header .chat_close {
    font-size: 1.5rem;
    position: absolute;
    right: 1rem;
    visibility: hidden;
    cursor: pointer;
}

/* chat footer */
.chat_input {
    justify-content: space-between;
    border-top: 1px solid #f15bb5;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #fff;
}

.chat_input textarea {
    width: 100%;
    height: 50px;
    max-height: 120px;
    font-size: 0.9rem;
    padding: 15px;
    outline: none;
    border: none;
    resize: none;
}

.chat_input i {
    padding: 10px;
    margin: 5px;
    color: #f15bb5;
    font-size: 1.2rem;
    visibility: hidden;
}

.chat_input textarea:valid~i {
    visibility: visible;
}

/* chat body */
.chat_body {
    display: block;
    list-style-type: none;
    padding: 0.2rem 1rem;
    overflow-y: auto;
    height: 22.6rem;
}

.chat_body .incoming,
.chat_body .outgoing {
    justify-content: start;
    align-items: start;
    font-size: 0.8rem;
    margin: 1rem 0;
}

.chat_body .incoming p,
.chat_body .outgoing p {
    background-color: #e4e3e3;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: fit-content;
    max-width: 85%;
    white-space: pre-wrap;
    animation: floatup 0.3s forwards;
}

.chat_body .incoming p.error {
    background-color: rgb(255, 210, 216);
}

.chat_body .incoming i {
    color: #fff;
    background-color: #f15bb5;
    border-radius: 0.3rem;
    padding: 0.5rem 0.4rem;
    font-size: 1rem;
    margin-right: 0.4rem;
}

.chat_body .outgoing {
    justify-content: end;
}

.chat_body .outgoing p {
    background-color: #f15bb5;
    color: #fff;
}

.toggler {
    background-color: #f15bb5;
    width: 3rem;
    height: 3rem;
    color: #fff;
    font-size: 1.8rem;
    border-radius: 50%;
    border: none;
    outline: none;
    position: fixed;
    bottom: 0.5rem;
    right: 3rem;
    cursor: pointer;
}

.toggler i {
    position: absolute;
}

.chat_active button i.fa-comment-medical,
.fa-xmark {
    opacity: 0;
    z-index: -1;
}

.chat_active button i.fa-xmark,
.fa-comment-medical {
    opacity: 1;
    z-index: 0;
    transition: 0.5s;
}

body.chat_active .toggler i {
    transform: rotate(90deg);
    transition: 0.5s;
}

/* making responsive */
@media (max-width:480px) {
    .container {
        width: 100%;
        height: 100vh;
        border-radius: 0px;
        bottom: 0;
        right: 0;
    }

    .container header .chat_close {
        visibility: visible;
    }

    .chat_body {
        height: 31rem;
    }

    .container header .chat_heading {
        padding: 0.5rem;
    }

    .toggler {
        bottom: 1rem;
        right: 1rem;
    }
}