@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #F2E8CF;
    font-size: 1rem;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.chatbot {
    background-color: #fff;
    position: fixed;
    bottom: 20px;
    right: 40px;
    border-radius: 15px;
    overflow: hidden;
    width: 350px;
    height: 450px;
}

/* Flex properties */
.chatbox,
.chat-input,
.incoming {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatbot header {
    background-color: #6A994E;
}

.heading {
    color: #fff;
    text-align: center;
    padding: 0.7rem 0;
}

.chatbox {
    padding: 0 15px;
    list-style-type: none;
    flex-direction: column;
    align-items: flex-start;
}


.chat {
    width: 75%;
}

.incoming {
    align-items: baseline;
    margin-left: -5px;
}

.incoming span {
    background-color: #6A994E;
    color: #fff;
    padding: 3px;
    border-radius: 3px;
    margin: 0px 10px 12px 0px;
    align-self: flex-end;
}

.chat p {
    font-size: 0.9em;
    color: #000;
    background-color: #f8efdf;
    border-radius: 10px 10px 10px 0;
    margin: 10px 0;
    padding: 10px;
}

.outgoing {
    align-self: flex-end;
}

.outgoing p {
    color: #fff;
    background-color: #6A994E;
    border-radius: 10px 10px 0 10px;
}

.chat-input {
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-top: #6A994E 2px solid;
}

.chat-input textarea {
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    padding: 5px 10px;
    font: inherit;
    font-size: 0.9em;
    color: #4a4a4a;
    height: 50px;
}

.chat-input span {
    font-size: 1.8em;
    color: #6A994E;
    visibility: hidden;
    cursor: pointer;
}

.chat-input textarea:valid~span {
    visibility: visible;
}