@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #F2E8CF;
    font-size: 1rem;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.chatbot {
    background-color: #fff;
    position: fixed;
    bottom: 20px;
    right: 40px;
    border-radius: 15px;
    overflow: hidden;
    width: 350px;
    height: 450px;
}

.chatbot header {
    background-color: #6A994E;
}

.heading {
    color: #fff;
    text-align: center;
    padding: 0.7rem 0;
}

.chatbox {
    padding: 0 15px;
}

.chat {
    background-color: #F2E8CF;
    width: 75%;
    border-radius: 10px 10px 10px 0;
    margin: 10px 0;
    padding: 10px;
}

.chat p {
    font-size: 0.9em;
    color: #000;
}